:root {
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: 0.2rem solid var(--black);
    --box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.1);
}

.facility-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.facility-item-image{
    width: 12rem;
}

.facility-item-title{
    font-size: 1.5rem;
    color: var(--black);
    font-family: 'Merienda One', cursive;
    margin-top: 1rem;
}

.facility-item-description{
    width: 70%;
    font-size: 1.3rem;
    color: var(--light-color);
    margin-top: 1rem;
    line-height: 2.5rem;
}