:root {
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: 0.2rem solid var(--black);
    --box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.1);
}

.landing__content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.landing__content-right{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .landing__content-right{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
}

.landing__content-right-title{
    font-size: 4rem;
    color: var(--black);
    font-family: 'Merienda One', cursive;
}

.landing__content-right-description{
    text-align: start;
    font-size: 1.8rem;
    line-height: 3.5rem;
    margin-top: 2rem;
    color: var(--light-color);
}

.landing__content-right-btn{
    margin-top: 3rem;
    font-size: 1.8rem;
    background-color: var(--main-color);
    color: var(--white);
    padding: 1.5rem 2.5rem;
    font-weight: 500;
}

.landing__content-right-btn:hover{
    cursor: pointer;
    background-color: var(--black);
}

.landing__content-left-image{
    width: 45rem;
    height: 45rem;
}