:root {
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: 0.2rem solid var(--black);
    --box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.1);
}

.team{
    width: 100%;
}

.team__content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    padding: 0 6rem;
}