:root {
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: 0.2rem solid var(--black);
    --box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.1);
}

.contact-us__content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.contact-us__content-right{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 1000px) {
    .contact-us__content-right{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
}

.contact-us__content-left-image{
    width: 70rem;
    height: 70rem;
}