:root {
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: 0.2rem solid var(--black);
    --box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.1);
}

.footer-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-item__image{
    width: 7rem;
    background-color: var(--main-color);
    border-radius: 30%;
    padding: 1rem;
}

.footer-item__title{
    font-size: 2rem;
    color: var(--black);
    margin-top: 1rem;
}

.footer-item__description{
    width: 100%;
    font-size: 1.8rem;
    color: var(--light-color);
    margin-top: 1rem;
    line-height: 2.5rem;
}