:root {
    --main-color: #be9c79;
    --black: #333;
    --white: #fff;
    --light-color: #666;
    --border: 0.2rem solid var(--black);
    --box-shadow: 0 1.5rem 1rem rgba(0, 0, 0, 0.1);
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 2rem;
}

.menu-item-image {
    width: 30rem;
}

.menu-item-title {
    font-size: 2rem;
    color: var(--black);
    margin-top: 1rem;
}